<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
          <a href="/">← Back To Home</a>
        <ul>{{#each games}}
      <div class="card mt-4 game"onclick="linkToDetails({{id}})" >
        <div class="card-body">
          <h5 class="game-title">Game </h5><p class='gameId'>{{id}}</p>
          <p>
            <strong>Original</strong>: {{original}}</p>
          <p>
          <p>
            <strong>Final</strong>: {{final}}</p>
          <p>
        </div>
      </div>
      {{/each}}
</ul>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script src='js/allGames.js'></script>