<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
        <ul>{{#each game}}
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="game-title">Game: </h5>
          <p>
            <strong>ID</strong>: {{game.id}}</p>
          <p>
          <p>
            <strong>Final:</strong>: {{game.text}}</p>
          <p>
            <strong>Users:</strong> {{game.users}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
      {{/each}}
</ul>
    </div>
  </div>
</div>
