<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid">
                <div class="container display-4">
                    <h1 class="display-4">Read the sentences, then enter your best guess!</h1>
                    <div class="card">
                        <div class="card-body" id="promptBox">
                            {{prompt}}
                        </div>
                    </div>
                    <form>
                        <div class="form-group" id="guessBox">
                            <label for="userGuess">Guess your guess</label>
                            <textarea class="form-control" id="userGuess" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>

            <div class="timer"></div>
            <div class="timer2"></div>
        </div>
    </div>
    <div id='game-id' style='display:none;'>{{gameId}}</div>
    <div id='user-ids' style='display:none;'>{{userIds}}</div>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script src='js/gamePlay.js'></script>