<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Read the sentences, then enter your best guess!</h1>
                    <div class="card">
                        <div class="card-body" id="promptBox">
                            {{prompt}}
                        </div>
                    </div>
                    <form>
                        <div class="form-group" id="guessBox">
                            <label for="exampleFormControlTextarea1">Guess your guess</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
     
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
</div>